<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({
            appToken: '{{appToken}}',
            customText: {
                 headerText: 'Your Digital Concierge',
                 introText: 'This is the beginning of your conversation.<br/> Ask us anything! Say HELLO or SUP for updates and news'
        });
    </script>
</head>
<body>
    <h2>Metropolis Bot Demo</h2>
</body>
</html>
